.button {
    margin-bottom: 30px;
    margin-top: 10px;
}

.title.is-child {
    margin-left: 30px !important;
}

#headline-button {
    width: 100%;
    height: auto;
    margin-top: 20px;
    padding: 10px;
    background-color: white;
    border-radius: 5px;
    font-size: 18px;
}

#submit-url-button,
#topic-search-button {
    background-color: rgba(219, 4, 4, 0.692);
    font-color: black;
}

.logo {
    color: red;
    font-size: 4em;
    font-family: 'Oswald', Times;
} 

.has-background {
    background: url('../images/hex.png') no-repeat center center fixed;
    background-size: cover;
}